@model RemoteSchoolWebApp.Models.Student

<h1>
    @{string fullName = Model.FirstName + " " + Model.LastName;}
    @Html.DisplayFor(model => fullName)
</h1>

<div>
    <form asp-action="UploadPhoto" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
    @if (Model.Image != null)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" />
    }
</div>
<div>
    <h3>
        Oceny
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Grades[0].Assignment.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grades[0].Value)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Grades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignment.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
                window.location = "Parent/Messages";
            };
    </script>
}
