@model RemoteSchoolWebApp.Models.AssignmentStudentsViewModel

<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Assignment.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div><br />
<div>
    <form asp-action="AssignmentDetails">
        @foreach (var item in Model.Students)
        {
            string fullName = item.FirstName + " " + item.LastName;
            @Html.DisplayFor(modelItem => fullName)
            if (item.Grades.Count == 0)
            {
                item.Grades.Add(new Grade { Value = "" });
            }

            <input asp-for="@item.Grades[0].AssignmentId" value="@item.Grades[0].AssignmentId"/>
            <input asp-for="@item.Grades[0].StudentId" value="@item.Grades[0].StudentId"/>
            <select asp-for="@item.Grades[0].Value" asp-items="Model.PossibleGrades"></select><br />
        }
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>
