@model RemoteSchoolWebApp.Models.Class
    <p>
        <a asp-action="CreateAssignment">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="AssignmentDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Description)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

