@model RemoteSchoolWebApp.Models.Teacher

<h1>@Html.DisplayFor(model => model.Messages[0].Subject)</h1>

<div>
    @Html.DisplayFor(model => model.Messages[0].Content)
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Parent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].IsRead)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                string fullName = item.Parent.FirstName + " " + item.Parent.LastName;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => fullName)
                    </td>
                    @if (item.IsRead)
                    {
                        <td>
                            Read
                        </td>
                    }
                    else
                    {
                        <td>
                            Unread
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Messages">Back to List</a>
    </div><br />
</div>