@model RemoteSchoolWebApp.Models.Class
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].GradesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Average)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Assignments.Count == 0)
        {
            <tr>
                <td>
                    No assignments to display.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Assignments)
            {
                string date = item.Date.ToShortDateString();
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => date)
                    </td>
                    <td>
                        <a asp-action="AssignmentDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Description)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradesCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Average)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

